# Ignore all root files
/*
# Exclude top level readme file
!/*.md
!/*.nim
!/*.nimble
# Exclude root directories
!/*/
# Include all files in subdirectories
/*/*
# Exclude source code files in subdirectories
!/*/*.nim
!/*/*.txt
# # Exclude docs
# !/docs/*.html
# !/docs/*.css
# !/docs/*.js
# # Exclude module docs
# !/docs/manu/*.html
